In [ ]:
%matplotlib notebook

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv
import os
import numpy
import requests as rq
import pandas as pd
from io import BytesIO
import json

In [9]:
csv_path = os.path.join('raw_data/WDI_Trimmed_Dataset_20220130.csv')
with open(csv_path) as csvfile:
    trimmed_df = pd.read_csv(csv_path, header=[0])
    trimmed_df = pd.DataFrame(trimmed_df)

In [12]:
trimmed_df

,Country Name,Country Code,Series Name,Series Code,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2010-2020
0,Brazil,BRA,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,-0.142055812,-2.944151033,-3.120274597,0.891446292,-1.277958822,1.188818739,..,..
1,Argentina,ARG,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,-3.446138435,5.050909519,-1.782622202,5.672500021,-6.949254354,-4.698899588,..,..
2,Colombia,COL,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,5.514105365,4.136446767,2.458245854,1.159220033,1.839691684,2.926321559,..,..
3,United States,USA,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,3.484699201,3.62445752,0.902393835,2.10121282,2.500421858,2.384736913,..,..
4,United Kingdom,GBR,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,4.148015229,2.997029907,1.708815694,2.475829083,1.125485088,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...
1989,South Africa,ZAF,Women Business and the Law Index Score (scale ...,SG.LAW.INDX,88.125,88.125,88.125,88.125,88.125,88.125,88.125,1.124779834
1990,"Egypt, Arab Rep.",EGY,Women Business and the Law Index Score (scale ...,SG.LAW.INDX,38.75,45,45,45,45,45,45,1.49531734
1991,Australia,AUS,Women Business and the Law Index Score (scale ...,SG.LAW.INDX,96.875,96.875,96.875,96.875,96.875,96.875,96.875,1.45585317
1992,Israel,ISR,Women Business and the Law Index Score (scale ...,SG.LAW.INDX,80.625,80.625,80.625,80.625,80.625,80.625,80.625,0.395308388
1993,Country List,(Country List),Women Business and the Law Index Score (scale ...,SG.LAW.INDX,..,..,..,..,..,..,..,..

In [34]:
print("**************************")
print("GDP in Current US Dolloars")
print("**************************")

gdp_df = trimmed_df.loc[trimmed_df['Series Name'] == 'GDP (current US$)']
gdp_df = gdp_df.drop(columns='Series Code')
gdp_df = gdp_df.drop(columns='Country Code')
gdp_df = gdp_df.drop(columns='Series Name')
gdp_df = gdp_df.set_index('Country Name')
gdp_df = gdp_df.drop(index='Country List')
gdp_df

**************************
GDP in Current US Dolloars
**************************

,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2010-2020
Country Name,,,,,,,,
Brazil,2.45604E+12,1.80221E+12,1.79569E+12,2.06351E+12,1.91693E+12,1.87782E+12,1.44473E+12,-4.245419259
Argentina,5.2632E+11,5.94749E+11,5.57531E+11,6.43629E+11,5.2482E+11,4.51932E+11,3.89288E+11,-0.845347733
Colombia,3.81112E+11,2.93482E+11,2.82825E+11,3.11884E+11,3.34198E+11,3.2343E+11,2.71438E+11,-0.542265093
United States,1.75272E+13,1.82383E+13,1.87451E+13,1.9543E+13,2.06119E+13,2.14332E+13,2.08937E+13,3.319296372
United Kingdom,3.08717E+12,2.95657E+12,2.72285E+12,2.69902E+12,2.90079E+12,2.87867E+12,2.7642E+12,1.040219817
United Arab Emirates,4.03137E+11,3.58135E+11,3.57045E+11,3.85606E+11,4.22215E+11,4.17216E+11,3.58869E+11,2.138094272
Turkey,9.38953E+11,8.64317E+11,8.69693E+11,8.58996E+11,7.78472E+11,7.61004E+11,7.19955E+11,-0.762423641
Norway,4.9841E+11,3.85802E+11,3.68827E+11,3.98394E+11,4.37E+11,4.0551E+11,3.62522E+11,-1.67804295
Greece,2.35145E+11,1.95605E+11,1.93017E+11,1.99351E+11,2.11946E+11,2.05144E+11,1.88835E+11,-4.523029108
India,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70111E+12,2.8705E+12,2.66025E+12,4.62237855
Singapore,3.14851E+11,3.08004E+11,3.18764E+11,3.43338E+11,3.75982E+11,3.74386E+11,3.39998E+11,3.490967515
Vietnam,1.86205E+11,1.93241E+11,2.05276E+11,2.2378E+11,2.45214E+11,2.61921E+11,2.71158E+11,8.497016552
China,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.47227E+13,8.832103343
Nigeria,5.46676E+11,4.86803E+11,4.0465E+11,3.75746E+11,3.9719E+11,4.4812E+11,4.32294E+11,1.789633542
South Africa,3.81199E+11,3.4671E+11,3.23586E+11,3.81449E+11,4.04842E+11,3.87935E+11,3.35442E+11,-2.185119558
"Egypt, Arab Rep.",3.05595E+11,3.29367E+11,3.32442E+11,2.35734E+11,2.49713E+11,3.03081E+11,3.65253E+11,5.115921666
Australia,1.4675E+12,1.35053E+12,1.20669E+12,1.32688E+12,1.42853E+12,1.39195E+12,1.32784E+12,1.458872985
Israel,3.10945E+11,3.00078E+11,3.19024E+11,3.55277E+11,3.73641E+11,3.97935E+11,4.07101E+11,5.509460637